
        p{
            font-family: cursive; text-align: center; font-size: larger;
                
           }
        
        h3{
            color: green; text-align:center; font-size: 2cm;
        }


            h2{
                text-align: center; font-size:2cm;
            }
         th{
            font-size: 1.3cm;text-align: center;
         }
         td{
            font-size: 1.25cm;text-align: center;
         }
         body{
            background-image: url("BPS.jpg");
            background-repeat: no-repeat;
         }
        
        